.imagen{
    width: 100%;
    max-height: 448px;
}

.contenedor {
    padding: 3%;
    padding-top: 0%;
}

.renglon{
    padding-top: 3%;
    padding-bottom: 5%;
}

.titulo{
    font-family: 'Dawning of a New Day';
}

@media screen and (max-width: 700px){
    .renglon-encabezado{
        font-size:4vw;
       
    }

    .renglon-cuerpo{
        font-size: 4vw;
    }
}
   
@media screen and (min-width: 701px){
    .renglon-encabezado{
        font-size:2.9vw;
    }

    .renglon-cuerpo{
        font-size: 2.9vw;
    }
}

.fondo {
    background-image: url("../img/tapiz2.jpg");
    background-repeat: repeat;
}



.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container > div{
    padding: 10%;
    padding-bottom: 0%;

}

.contenedor-imagen{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-avatar{
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 2vw;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
}
