.imagen{
    width: 100%;
    max-height: 448px;
}

.icono{
    width: 80%;
    max-height: 448px;
}

.contenedor {
    padding: 3%;
    padding-top: 0%;
}

.renglon{
    padding-top: 3%;
    padding-bottom: 5%;
}

.titulo{
    font-family: 'Dawning of a New Day';
}



@media screen and (max-width: 700px){
    .renglon-encabezado{
        font-size:4vw;
       
    }

    .renglon-cuerpo{
        font-size: 4vw;
    }

    .tarjeta{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        border: solid lightblue;
        border-radius: 10px;
    }
    .tarjeta-info{
        padding: 3%;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 3.2vw;
    }

    .tarjeta-imagen{
        display: none;
    }
}
   
@media screen and (min-width: 701px){
    .renglon-encabezado{
        font-size:2.9vw;
    }

    .renglon-cuerpo{
        font-size: 2.9vw;
    }

    .tarjeta{
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        border-radius: 25px;
        border: 7px solid #dddd;
    }
    .tarjeta-info{
        padding: 3%;
        font-size: 2vw;
    }
}

.fondo {
    background-image: url("../img/tapiz2.jpg");
    background-repeat: repeat;
}



.grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.grid-container > div{
    padding: 10%;
    padding-bottom: 0%;

}

.contenedor-imagen{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-avatar{
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 2vw;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
}

.azul{
    background: #046CDB ;
    color:white;

}