.logo{
    width: 50px;
}
.imagen{
    width: 100%;
    max-height: 448px;
}

.icono{
    width: 80%;
    max-height: 448px;
}

.ico{
    width: 30px;

}

.contenedor {
    padding: 3%;
    padding-top: 0%;
}

.renglon{
    padding-top: 3%;
    padding-bottom: 5%;
}

.titulo{
    font-family: 'Dawning of a New Day';
}



@media screen and (max-width: 700px){
    .renglon-encabezado{
        font-size:4vw;
       
    }

    .renglon-cuerpo{
        font-size: 4vw;
    }

    .tarjeta{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        border: solid lightblue;
        border-radius: 10px;
    }
    .tarjeta-info{
        padding: 3% 2% 3% 0%;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 3.2vw;
    }

    .tarjeta-imagen{
        display: none;
    }
}
   
@media screen and (min-width: 701px){
    .renglon-encabezado{
        font-size:2.9vw;
    }

    .renglon-cuerpo{
        font-size: 2.9vw;
    }

    .tarjeta{
        width: 100%;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        border-radius: 25px;
        border: 7px solid #dddd;
    }
    .tarjeta-info{
        padding: 0% 2% 0% 2%;
        font-size: 2vw;
        grid-column: auto / span 3;
        padding-bottom: 0%;

    }

    .tarjeta-imagen{

        grid-column: auto / span 2;
    }
}

.fondo {
    background-image: url("../img/tapiz2.jpg");
    background-repeat: repeat;
}



.grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.grid-container > div{
    padding: 10%;
    padding-bottom: 0%;

}

.contenedor-imagen{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-avatar{
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 2vw;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
}

.azul{
    background: #046CDB ;
    color:white;

}

.button {
    border: none;
    color: black;
    padding: 12px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
  }

  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color:  #046CDB ;
    color: white;
    font-size: 2vw;
  }
  li{
      padding: 1%;
  }